
*
{
	margin: 0;
	padding: 0;
}

body {
	scroll-behavior: smooth;
	background-color: #eeeeee;
	.container {
		display: flex;
		flex-direction: column;
		height: 100vh;
		main {
			#form {
				margin: auto;
				// flex-direction: column;
				background-color: #ffffff;
				box-shadow: 0 5px 5px rgba(200, 200, 200, 0.5);
				width: 450px;
				padding: 50px;
				transform: translateY(10%);
				box-sizing: border-box;
				h3 {
					margin-bottom: 20px;
					font-family: "Montserrat";
					font-weight: 700;
				}
				form {
					display: flex;
					flex-direction: column;
					box-sizing: border-box;
					// grid-template-areas: "username" "password" "forgot" "button";
					width: 100%;
					div {
						&.username {
							grid-area: username;
						}
						&.password:not(.login-label) {
							grid-area: password;
							display: grid;
							grid-template-areas: "label label" "input-password input-password" "show-password show-password" "remember-me remember-me";
							.login-label {
								grid-area: label;
							}
							.input-password {
								grid-area: input-password;
								width: 100%;
							}
							#show-pass {
								grid-area: show-password;
								// margin: auto;
								// margin-right: 0;
							}
							.check-box {
								margin-top: 5px;
								grid-area: remember-me;
							}
						}
						&.forgot-password {
							grid-area: forgot;
							.check-box {
								display: flex;
							}
						}
						&.login-button {
							grid-area: button;
							margin-top: 50px;
							font-weight: 600;
							font-family: "Montserrat";
						}
					}
				}
			}
			.forgot-password {
				a {
					text-align: center;
					margin: auto;
				}
			}
			p {
				text-align: center;
				margin: auto;
				margin-top: 50px;
			}
		}
	}
}

@media screen and(max-width: 500px) {
	body {
		.container {
			main {
				#form {
					width: 90vw;
					padding: 30px;
				}
			}
		}
	}
}
